<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>THE SHOP</title>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="nav-left">
        <a th:href="@{/categories}">
            <h1>THE SHOP</h1>
        </a>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a th:href="@{/categories}">Categories</a>
            </li>
            <li th:unless="${user.isBannedFromSelling()}">
                <a th:href="@{/products/add}">Add product</a>
            </li>
            <li th:if="${user.roles.contains(T(app.user.model.UserRole).ADMIN)}">
                <a th:href="@{/dashboard/admin}">Control Panel</a>
            </li>
            <li th:if="${user.roles.contains(T(app.user.model.UserRole).SELLER)}">
                <a href="#">Sales Overview</a>
            </li>
            <li>
                <a th:href="@{/order}" class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count" th:text="${cartQuantity}"></span>
                </a>
            </li>
        </ul>
        <div class="user-actions">
            <a th:href="@{'/users/profile/' + ${user.username}}">
                <img th:src="${user.profilePictureUrl}" alt="Profile Picture" class="profile-picture">
            </a>
            <form th:action="@{/logout}" method="get" class="logout-form">
                <button type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
