* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    margin-top: 50px;
    background:white;
}
.dashboard {
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 4px solid black;
    padding-bottom: 20px;
}
.section {
    width: 48%;
    padding: 40px;
    background: #e3e3e3;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.section p {
    font-size: 24px;
    margin: 10px 0;
}
.footer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}
.items-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 30px;
}
.items-out {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.category-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
}
.item {
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 8px;
    width: 280px;
    height: 320px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.item img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}
.item h3 {
    margin: 15px 0 8px;
    font-size: 20px;
}
.item p {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.item .red{
    color: #ff4d4d;
}
.add-btn {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 33px;
    height: 33px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}
.add-btn:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}
.remove-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 35px;
    height: 35px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}
.remove-btn:hover{
    background-color: #ff2424;
    transform: scale(1.1);
}