<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Control Panel</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin-control-panel.css">
</head>
<body>

<header th:replace="~{fragments/navbar::nav}"></header>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>USERNAME</th>
    <th>EMAIL</th>
    <th>STATUS</th>
    <th>BAN FROM SELLING</th>
    <th>SWITCH ROLE</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <a th:href="@{'/users/toggle-status/'+${user.username}}">
        <button
                type="submit"
                th:class="${user.isActive()} ? 'unban-button' : 'ban-button'"
                th:text="${user.isActive()} ? 'ACTIVE' : 'INACTIVE'">
        </button>
      </a>
    </td>
    <td>
      <a th:href="@{'/users/toggle-ban/'+${user.username}}">
        <button
                type="submit"
                th:class="${user.isBannedFromSelling()} ? 'ban-button' : 'unban-button'"
                th:text="${user.isBannedFromSelling()} ? 'BANNED' : 'NOT BANNED'">
        </button>
      </a>
    </td>
    <td>
      <a th:href="@{'/users/toggle-role/'+${user.username}}">
        <button
              type="submit"
              class="switch-button"
              th:text="${user.roles.contains(T(app.user.model.UserRole).ADMIN)} ? 'ADMIN' : 'USER'">
        </button>
      </a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
