<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${#strings.capitalize(category.categoryName.toLowerCase())}"></title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/category.css">
</head>
<body>

<header th:replace="~{fragments/navbar::nav}"></header>

<main>
    <section class="category">
        <h2 th:text="${#strings.capitalize(category.categoryName.toLowerCase())}"></h2>

        <form th:href="@{'/categories/'+ ${category.categoryName.toLowerCase()}}" method="get" style="text-align: center; margin-bottom: 20px;">
            <input type="text" name="search" id="search-bar" placeholder="Search products..."
                   style="width: 50%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"
                   th:value="${param.search}">
            <button type="submit" style="padding: 10px 15px; margin-left: 5px; border: none; background-color: #007bff; color: white; border-radius: 5px; cursor: pointer;">
                Search
            </button>
        </form>


        <div class="category-items">
            <a th:href="@{'/products/'+${item.id}}" th:each="item : ${products}">
                <div class="item">
                    <img th:src="${item.image}" alt="Item image">
                    <h3 th:text="${item.name}"></h3>
                    <p th:if="${item.quantity > 0}" th:text="'$' + ${item.price}"></p>
                    <p th:unless="${item.quantity > 0}" class="red">OUT OF STOCK</p>
                </div>
            </a>
        </div>
    </section>
</main>
</body>
</html>