<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/order-preview.css">
</head>
<body>
<header th:replace="~{fragments/navbar::nav}"></header>
<div class="order-container">
    <h2>ORDER</h2>
    <div>
        <table>
            <thead>
            <tr>
                <th>PRODUCT</th>
                <th>SELLER</th>
                <th>QUANTITY</th>
                <th>PRICE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orderItems}">
                <td>
                    <div class="product-info">
                        <img th:src="${item.product.image}" alt="Product Image" class="product-image">
                        <span th:text="${item.product.name}"></span>
                    </div>
                </td>
                <td th:text="${item.product.seller.username}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="'$' + ${item.product.price}"></td>
            </tr>
            </tbody>
        </table>
        <div class="button-container">
            <span class="total-price" th:text="'TOTAL PRICE: ' + ${order.totalPrice} + '$'"></span>
            <a th:href="@{'/users/profile/' + ${user.username}}">
                <button class="button">Go Back</button>
            </a>
        </div>
        <div class="order-footer">
            <span th:text="'Order Date: ' + ${#temporals.format(order.orderDate, 'MMMM dd, yyyy, hh:mm a')}"></span>
        </div>
    </div>
</div>
</body>
</html>
