<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>

<header th:replace="~{fragments/navbar::nav}"></header>

<div class="user-details">
    <div class="user-image">
        <img th:src="${user.profilePictureUrl}" alt="User Picture">
        <p th:text="${user.username}"></p>
    </div>
    <div class="user-info">
        <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
        <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    </div>
    <div class="last-updated">
        <strong>Last Updated On:</strong>
        <span th:text="${#temporals.format(user.updatedOn, 'MMMM dd, yyyy, hh:mm a')}"></span>
    </div>

    <a th:href="@{/users/profile/edit}">
        <button class="edit-button">Edit</button>
    </a>

    <a th:href="@{/users/notifications}" id="notification-btn" class="notification-btn" th:classappend="${isNotificationEnabled} ? 'on' : 'off'">
        <i class="fas" th:classappend="${isNotificationEnabled} ? 'fa-bell' : 'fa-bell-slash'"></i>
        Notifications <span th:text="${isNotificationEnabled} ? 'ON' : 'OFF'"></span>
    </a>
</div>

<div class="order-history">
    <h2>Order History</h2>
    <div th:if="${#lists.size(orders)==0}" class="no-orders-message">
        <p>No orders found.</p>
    </div>
    <table th:unless="${#lists.size(orders)==0}">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${#temporals.format(order.orderDate, 'MMMM dd, yyyy')}"></td>
            <td th:text="${'$' + #numbers.formatDecimal(order.totalPrice, 1, 2)}"></td>
            <td>
                <a th:href="@{'/order/' + ${order.id} + '/preview'}">
                    <button class="preview-button">Preview</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>